.homeheader{
    padding: 5px;
  }
  
.title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.list{
  margin: 15px;
  text-align: center;
}

.btn{
  margin-top: 15px;
}

.btninput{
  margin: 10px;
}

ion-button{
  --background: #db7c1e;
  --background-activated: #db7c1e;
}

span{
  color: red;
}