<ion-header>
  <ion-toolbar class="homeheader">
    <ion-title class="title">
      Cadastrar Livro
    </ion-title>
    <ion-button slot="start" expand="block" fill="clear" size="small" routerLink="/home">  
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="list">
    <form [formGroup]="formCadastrar" (ngSubmit)="submitForm()">
      <ion-item>
        <ion-input formControlName="titulo" label="Titulo" placeholder="Insira o titulo do livro" ></ion-input>
      </ion-item>
      <span *ngIf="formCadastrar.get('titulo')?.touched && formCadastrar.get('titulo')?.errors?.['required']">Titulo é Obrigatório!</span>
      <ion-item>
        <ion-input formControlName="autor" label="Autor(a)" placeholder="Insira o nome do autor(a)" type="string"></ion-input>
      </ion-item>
      <span *ngIf="formCadastrar.get('autor')?.touched && formCadastrar.get('autor')?.errors?.['required']">Autor(a) é Obrigatório!</span>
      <ion-item>
        <ion-input formControlName="ano" label="Ano" placeholder="Insira o ano de publicação" type="number" ></ion-input>
      </ion-item>
      <span *ngIf="formCadastrar.get('ano')?.touched && formCadastrar.get('ano')?.errors?.['required']">Ano é Obrigatório!</span>
      <span *ngIf="formCadastrar.get('ano')?.touched && formCadastrar.get('ano')?.hasError('min')">Ano deve ter pelo menos 4 caracteres!</span>
      <span *ngIf="formCadastrar.get('ano')?.touched && formCadastrar.get('ano')?.hasError('max')">Ano não pode ter mais de 4 caracteres!</span>
  
      <ion-item>
        <ion-select formControlName="genero" label="Gênero" interface="popover">
          <ion-select-option value="Ficcao">Ficção Ciêntífica</ion-select-option>
          <ion-select-option value="Fantasia">Fantasia</ion-select-option>
          <ion-select-option value="Misterio">Mistério</ion-select-option>
          <ion-select-option value="Romance">Romance</ion-select-option>
          <ion-select-option value="Suspense">Suspense</ion-select-option>
          <ion-select-option value="Terror">Terror</ion-select-option>
          <ion-select-option value="Biografia">Biografia</ion-select-option>
          <ion-select-option value="Outro">Outro</ion-select-option>
        </ion-select>
      </ion-item>
      <span *ngIf="formCadastrar.get('genero')?.touched && formCadastrar.get('genero')?.errors?.['required']">Gênero é Obrigatório!</span>
      <ion-item>
      <ion-input formControlName="editora" label="Editora" placeholder="Insira a editora" type="string"></ion-input>
      </ion-item>
      <span *ngIf="formCadastrar.get('editora')?.touched && formCadastrar.get('editora')?.errors?.['required']">Editora é Obrigatório!</span>

    <ion-button class="btninput" size="small" color="success" shape="round">
      <ion-icon name="cloud-upload"></ion-icon>
      <input type="file" (change)="uploadFile($event.target)"/>
    </ion-button>
  </form>
  </ion-list>
  <div class="ion-text-center">
    <ion-button class="btn" (click)="cadastrarLivro()">Cadastrar</ion-button>
  </div>
</ion-content>
