<ion-header>
  <ion-toolbar class="homeheader">
    <ion-title class="title">
      <ion-icon name="book-outline"></ion-icon>
      Meus Livros
    </ion-title>
    <ion-button class="exit" size="small" (click)="logout()">
      <ion-icon name="exit-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-item-group *ngIf="lista_livros.length > 0" style="margin-top: 2%;">
  <ion-searchbar #mySearchbar animated debounce="800" #searchInput (ionChange)="onSearchChange($event)"></ion-searchbar>
</ion-item-group>
<ion-content>
  <app-loading-livros *ngIf="isLoading"></app-loading-livros>

  
  <app-book *ngFor="let livro of livrosBuscados" [livro]="livro" (click)="editar(livro)"></app-book>
  
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="cadastrar()" color="primary-crontrast">
      <ion-icon name="add" color="primary"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
