.homeheader{
  padding: 5px;
}

.title{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.conteudo{
  margin: 10px;
  text-align: center;
  color: rgb(0, 0, 0);
}

ion-content{
  --background: #fcfcfc;
}

ion-fab-button{
  --background: var(--ion-color-primary)
  --background-activated: var(--ion-color-primary)
}

ion-button.exit{ 
  --background: var(--ion-color-primary)
}
