<ion-header>
  <ion-toolbar class="homeheader">
    <ion-title class="title">Detalhar</ion-title>
    <ion-button slot="start" expand="block" fill="clear" size="small" routerLink="/home">  
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-toggle (ionChange)="habilitarEdicao()">Habilitar Edição</ion-toggle>
</ion-item>
  <ion-card>
  <form [formGroup]="formAtualizar" (ngSubmit)="submitForm()">
  <ion-list class="list" lines="none">
    <ion-item *ngIf="livro.downloadURL != null">
      <img id="header-img" src="{{livro.downloadURL}}" />
    </ion-item>
    <ion-item *ngIf="livro.downloadURL == null">
      <img id="header-img" src="{{livro.downloadURL}}" />
    </ion-item>
    <ion-item>
      <ion-button size="small" color="success" shape="round" [disabled]="edicao">
        <input type="file" (change)="uploadFile($event.target)"/>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-input label="Titulo" placeholder="Insira o titulo" formControlName="titulo" [disabled]="edicao"></ion-input>
    </ion-item>
    <span *ngIf="formAtualizar.get('titulo')?.touched && formAtualizar.get('titulo')?.errors?.['required']">Titulo é Obrigatório!</span>
    <ion-item>
      <ion-input label="Autor" placeholder="Insira o autor" formControlName="autor" [disabled]="edicao"></ion-input>
    </ion-item>
    <span *ngIf="formAtualizar.get('autor')?.touched && formAtualizar.get('autor')?.errors?.['required']">Autor(a) é Obrigatório!</span>
    <ion-item>
      <ion-input label="Ano" placeholder="Insira o ano de publicação" formControlName="ano" [disabled]="edicao"></ion-input>
    </ion-item>
    <span *ngIf="formAtualizar.get('ano')?.touched && formAtualizar.get('ano')?.errors?.['required']">Ano é Obrigatório!</span>
    <span *ngIf="formAtualizar.get('ano')?.touched && formAtualizar.get('ano')?.hasError('min')">Ano deve ter pelo menos 4 caracteres!</span>
    <span *ngIf="formAtualizar.get('ano')?.touched && formAtualizar.get('ano')?.hasError('max')">Ano não pode ter mais de 4 caracteres!</span>
    <ion-item>
      <ion-select label="Gênero" interface="popover" formControlName="genero" [disabled]="edicao">
        <ion-select-option value="Ficcao">Ficção Ciêntífica</ion-select-option>
        <ion-select-option value="Fantasia">Fantasia</ion-select-option>
        <ion-select-option value="Misterio">Mistério</ion-select-option>
        <ion-select-option value="Romance">Romance</ion-select-option>
        <ion-select-option value="Suspense">Suspense</ion-select-option>
        <ion-select-option value="Terror">Terror</ion-select-option>
        <ion-select-option value="Biografia">Biografia</ion-select-option>
        <ion-select-option value="Outro">Outro</ion-select-option>
      </ion-select>
    </ion-item>
    <span *ngIf="formAtualizar.get('genero')?.touched && formAtualizar.get('genero')?.errors?.['required']">Gênero é Obrigatório!</span>
    <ion-item>
      <ion-input formControlName="editora" label="Editora" placeholder="Insira a editora" [disabled]="edicao"></ion-input>
    </ion-item>
    <span *ngIf="formAtualizar.get('editora')?.touched && formAtualizar.get('editora')?.errors?.['required']">Editora é Obrigatório!</span>
  </ion-list>
  </form>
</ion-card>
  <div class="ion-text-center">
    <ion-button class="btnEditar" (click)="atualizar()" disabled="{{edicao}}">Editar</ion-button> 
    <ion-button class="btnExcluir" (click)="excluirConfirm()">Excluir</ion-button> 
  </div>
</ion-content>