<ion-header>
  <ion-toolbar class="homeheader">
    <ion-title class="title">Detalhar</ion-title>
    <ion-button slot="start" expand="block" fill="clear" size="small" routerLink="/home">  
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list class="list">
    <ion-item>
      <ion-toggle (ionChange)="habilitarEdicao()">Habilitar Edição</ion-toggle>
    </ion-item>
    <ion-item>
      <ion-input label="Titulo" placeholder="Insira o titulo" [(ngModel)]="titulo" disabled="{{edicao}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Autor" placeholder="Insira o autor" [(ngModel)]="autor" disabled="{{edicao}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select label="Gênero" interface="popover" [(ngModel)]="genero" disabled="{{edicao}}">
        <ion-select-option value="Ficcao">Ficção Ciêntífica</ion-select-option>
        <ion-select-option value="Fantasia">Fantasia</ion-select-option>
        <ion-select-option value="Misterio">Mistério</ion-select-option>
        <ion-select-option value="Romance">Romance</ion-select-option>
        <ion-select-option value="Suspense">Suspense</ion-select-option>
        <ion-select-option value="Terror">Terror</ion-select-option>
        <ion-select-option value="Biografia">Biografia</ion-select-option>
        <ion-select-option value="Outro">Outro</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input label="Ano" placeholder="Insira o ano de publicação" [(ngModel)]="ano" disabled="{{edicao}}"></ion-input>
    </ion-item>
  </ion-list>

  <div class="ion-text-center">
    <ion-button class="btnEditar" (click)="atualizar()" disabled="{{edicao}}">Editar</ion-button> 
    <ion-button class="btnExcluir" (click)="excluirConfirm()">Excluir</ion-button> 
  </div>
</ion-content>