<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalhar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Voltar"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
      <ion-toggle >Habilitar Edição</ion-toggle>
    </ion-item>
    <ion-item>
      <ion-input label="Nome" placeholder="Insira o nome"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" >Editar</ion-button> 
  <ion-button expand="block">Excluir</ion-button> 
</ion-content>

