
ion-content {
    --background: var(--ion-color-primary)
    text-align: center;
    border: 10px solid var(--ion-color-primary)
}

.list{
    border-radius: 4px;
    margin-top: 200px;
}

.item{
    margin: 5px;
}

ion-button{
    margin: 10px;
}

span{
    color: red;
}