
ion-content {
    --background: #db7c1e;
    text-align: center;
    border: 10px solid #ff8500;
}

.list{
    border-radius: 4px;
    margin-top: 200px;
}

.item{
    margin: 5px;
}

ion-button{
    margin: 10px;
}

span{
    color: red;
}